.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.subtitle{
    color: blue;
}

label{
    color:orange;
}

#headingnote1id{
    color:brown;
}

button{
    background-color: antiquewhite;
    color: darkred
}

/*
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
    */